.start {
 display: flex;
 flex-direction: column;
 width: 100%;
 // height: 796px;
 background: url('../images/background.png');
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
}

.start__menu {
 // width: 1440px;
 width: 100%;
 justify-content: center;
 display: flex;
 margin-top: 60px;
 font-size: 18px;
 text-transform: uppercase;
 align-items: center;
}

.menu__item {
 margin-right: 52px;
 transition: 0.15s;

 &:last-child {
  margin-right: unset;
 }

 &:hover {
  color: #f6d365;
  transition: 0.3s;
 }
}

.menu__img {
 width: 108px;
 height: 78px;
 // margin-right: 0 auto;
 // margin-right: auto;
 margin-right: 359px;
}

.menu__seartch {
 margin-left: 86px;
}

.start__discount {
 text-transform: uppercase;
 font-size: 110px;
 font-weight: bold;
 margin-top: 123px;
 align-self: center;
}

.start__text {
 margin-top: 43px;
 font-size: 30px;
 align-self: center;
 width: 804px;
}

.start__button {
 margin-top: 60px;
 text-transform: uppercase;
 font-size: 24px;
 padding: 24px 74px;
 width: fit-content;
 align-self: center;
 background-color: #f6d365;
 color: black;
 transition: .15s;
 margin-bottom: 228px;

 &:hover {
  background-color: white;
  transform: .3s;
  transform: scale(1.05);
 }

 &:active {
  transform: scale(0.95);
 }
}

